#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  top: 10px;
  left: 40px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 3px;
  width: 250px; /* adjust this value to set the sidebar's width */
  height: 100vh;
  color: #000000FF;
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.navigation {
  position: fixed;
  top: 200px;
  left: 3px;
  width: 250px; /* adjust this value to set the sidebar's width */
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  /* Allow content to occupy the remaining space */
  display: flex;              /* Use flexbox for centering */
  justify-content: center;    /* Center horizontally */
  align-items: center;        /* Center vertically */
  text-align: center;         /* Center text alignment */
  height: 100vh;              /* Ensure full height of viewport */
  margin-left: 200px;         /* Push content to the right of the sidebar */
  padding: 20px;              /* Optional: Add some padding */
}
.main-content {
    margin-left: 200px; /* Offset content by the width of the sidebar */
    flex-grow: 1; /* Allow content to grow */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    padding: 20px; /* Optional: Padding for content */
    box-sizing: border-box;
}

.homepage-content {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  background-color: #f8f9fa; /* Optional background color */
}

.homepage h1 {
  font-size: 2.5rem;
  color: #333;
}

.homepage p {
  font-size: 1.25rem;
  color: #555;
}

